<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760295675436-4hasdqhsk8uttk9018p9mbtrucpis9lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760295675436-4hasdqhsk8uttk9018p9mbtrucpis9lp</string>
	<key>API_KEY</key>
	<string>AIzaSyBLWU6I3YMuIoJoWsrhR8107Uk7EMa99l0</string>
	<key>GCM_SENDER_ID</key>
	<string>760295675436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-test-362c0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-test-362c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760295675436:ios:4961ab15471729ebd02389</string>
</dict>
</plist>